In [19]:
import numpy as np
import pandas as pd
import requests

In [29]:
A= pd.read_csv("asg-2023-01-31.txt", sep="|", header='infer', encoding='latin-1')

C:\Users\Beto\AppData\Local\Temp\ipykernel_4756\1627605879.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  A= pd.read_csv("asg-2023-01-31.txt", sep="|", header='infer', encoding='latin-1')

In [30]:
print(A)

         cve_delegacion  cve_subdelegacion  cve_entidad cve_municipio  \
0                     1                  1            1           A01
1                     1                  1            1           A01
2                     1                  1            1           A01
3                     1                  1            1           A01
4                     1                  1            1           A01
...                 ...                ...          ...           ...
4561922              40                 58            9           NaN
4561923              40                 58            9           NaN
4561924              40                 58            9           NaN
4561925              40                 58            9           NaN
4561926              40                 58            9           NaN

         sector_economico_1  sector_economico_2  sector_economico_4  \
0                       NaN                 NaN                 NaN
1                       NaN                 NaN                 NaN
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN
...                     ...                 ...                 ...
4561922                 9.0                99.0              9900.0
4561923                 9.0                99.0              9900.0
4561924                 9.0                99.0              9900.0
4561925                 9.0                99.0              9900.0
4561926                 9.0                99.0              9900.0

        tamaño_patron  sexo rango_edad  ... ta_sal teu_sal  tec_sal  tpu_sal  \
0                 NaN     1         E1  ...      0       0        0        0
1                 NaN     1        E10  ...      0       0        0        0
2                 NaN     1        E11  ...      0       0        0        0
3                 NaN     1        E12  ...      0       0        0        0
4                 NaN     1        E13  ...      0       0        0        0
...               ...   ...        ...  ...    ...     ...      ...      ...
4561922            S3     2         E8  ...      1       0        0        1
4561923            S3     2         E8  ...      1       0        0        1
4561924            S3     2         E8  ...      1       0        0        1
4561925            S3     2         E9  ...      2       0        0        2
4561926            S3     2         E9  ...      1       0        0        1

         tpc_sal  masa_sal_ta  masa_sal_teu  masa_sal_tec  masa_sal_tpu  \
0              0         0.00           0.0           0.0          0.00
1              0         0.00           0.0           0.0          0.00
2              0         0.00           0.0           0.0          0.00
3              0         0.00           0.0           0.0          0.00
4              0         0.00           0.0           0.0          0.00
...          ...          ...           ...           ...           ...
4561922        0      1980.40           0.0           0.0       1980.40
4561923        0      2230.94           0.0           0.0       2230.94
4561924        0      2405.50           0.0           0.0       2405.50
4561925        0      4811.00           0.0           0.0       4811.00
4561926        0      1584.36           0.0           0.0       1584.36

         masa_sal_tpc
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
...               ...
4561922           0.0
4561923           0.0
4561924           0.0
4561925           0.0
4561926           0.0

[4561927 rows x 29 columns]

In [31]:
A.head(30)

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,ta_sal,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc
0,1,1,1,A01,NaN,NaN,NaN,NaN,1,E1,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
1,1,1,1,A01,NaN,NaN,NaN,NaN,1,E10,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
2,1,1,1,A01,NaN,NaN,NaN,NaN,1,E11,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
3,1,1,1,A01,NaN,NaN,NaN,NaN,1,E12,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
4,1,1,1,A01,NaN,NaN,NaN,NaN,1,E13,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
5,1,1,1,A01,NaN,NaN,NaN,NaN,1,E14,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
6,1,1,1,A01,NaN,NaN,NaN,NaN,1,E2,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
7,1,1,1,A01,NaN,NaN,NaN,NaN,1,E3,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
8,1,1,1,A01,NaN,NaN,NaN,NaN,1,E4,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
9,1,1,1,A01,NaN,NaN,NaN,NaN,1,E5,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
10,1,1,1,A01,NaN,NaN,NaN,NaN,1,E6,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
11,1,1,1,A01,NaN,NaN,NaN,NaN,1,E7,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
12,1,1,1,A01,NaN,NaN,NaN,NaN,1,E8,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
13,1,1,1,A01,NaN,NaN,NaN,NaN,1,E9,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
14,1,1,1,A01,NaN,NaN,NaN,NaN,2,E1,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
15,1,1,1,A01,NaN,NaN,NaN,NaN,2,E10,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
16,1,1,1,A01,NaN,NaN,NaN,NaN,2,E11,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
17,1,1,1,A01,NaN,NaN,NaN,NaN,2,E12,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
18,1,1,1,A01,NaN,NaN,NaN,NaN,2,E13,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
19,1,1,1,A01,NaN,NaN,NaN,NaN,2,E14,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
20,1,1,1,A01,NaN,NaN,NaN,NaN,2,E2,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
21,1,1,1,A01,NaN,NaN,NaN,NaN,2,E3,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
22,1,1,1,A01,NaN,NaN,NaN,NaN,2,E4,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
23,1,1,1,A01,NaN,NaN,NaN,NaN,2,E5,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
24,1,1,1,A01,NaN,NaN,NaN,NaN,2,E6,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
25,1,1,1,A01,NaN,NaN,NaN,NaN,2,E7,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
26,1,1,1,A01,NaN,NaN,NaN,NaN,2,E8,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
27,1,1,1,A01,NaN,NaN,NaN,NaN,2,E9,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
28,1,1,1,A01,0.0,1.0,101.0,NaN,1,E10,...,3,0,0,3,0,622.32,0.0,0.0,622.32,0.0
29,1,1,1,A01,0.0,1.0,101.0,NaN,1,E11,...,4,0,0,4,0,829.76,0.0,0.0,829.76,0.0

In [32]:
B = A.drop(labels=range(0, 28), axis=0)

In [33]:
B.head(30)

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,ta_sal,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc
28,1,1,1,A01,0.0,1.0,101.0,NaN,1,E10,...,3,0,0,3,0,622.32,0.00,0.00,622.32,0.00
29,1,1,1,A01,0.0,1.0,101.0,NaN,1,E11,...,4,0,0,4,0,829.76,0.00,0.00,829.76,0.00
30,1,1,1,A01,0.0,1.0,101.0,NaN,1,E12,...,3,0,0,3,0,622.32,0.00,0.00,622.32,0.00
31,1,1,1,A01,0.0,1.0,101.0,NaN,1,E12,...,1,0,0,1,0,555.95,0.00,0.00,555.95,0.00
32,1,1,1,A01,0.0,1.0,101.0,NaN,1,E13,...,2,0,0,2,0,414.88,0.00,0.00,414.88,0.00
33,1,1,1,A01,0.0,1.0,101.0,NaN,1,E14,...,1,0,0,1,0,207.44,0.00,0.00,207.44,0.00
34,1,1,1,A01,0.0,1.0,101.0,NaN,1,E4,...,1,0,0,1,0,207.44,0.00,0.00,207.44,0.00
35,1,1,1,A01,0.0,1.0,101.0,NaN,1,E7,...,1,0,0,1,0,207.44,0.00,0.00,207.44,0.00
36,1,1,1,A01,0.0,1.0,101.0,NaN,1,E8,...,1,0,0,1,0,207.44,0.00,0.00,207.44,0.00
37,1,1,1,A01,0.0,1.0,101.0,NaN,1,E9,...,2,0,0,2,0,414.88,0.00,0.00,414.88,0.00
38,1,1,1,A01,0.0,1.0,101.0,S1,1,E10,...,1,0,1,0,0,217.67,0.00,217.67,0.00,0.00
39,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,217.67,0.00,0.00,0.00,217.67
40,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,342.21,0.00,0.00,0.00,342.21
41,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,734.51,0.00,0.00,0.00,734.51
42,1,1,1,A01,0.0,1.0,101.0,S1,1,E4,...,2,0,0,0,2,435.34,0.00,0.00,0.00,435.34
43,1,1,1,A01,0.0,1.0,101.0,S1,1,E5,...,2,0,0,0,2,435.34,0.00,0.00,0.00,435.34
44,1,1,1,A01,0.0,1.0,101.0,S1,1,E6,...,5,0,1,1,3,1132.95,0.00,260.00,217.67,655.28
45,1,1,1,A01,0.0,1.0,101.0,S1,1,E7,...,1,0,0,0,1,246.08,0.00,0.00,0.00,246.08
46,1,1,1,A01,0.0,1.0,101.0,S1,1,E7,...,1,1,0,0,0,317.42,317.42,0.00,0.00,0.00
47,1,1,1,A01,0.0,1.0,101.0,S1,1,E8,...,1,0,0,1,0,207.44,0.00,0.00,207.44,0.00
48,1,1,1,A01,0.0,1.0,101.0,S1,1,E8,...,2,0,0,1,1,455.89,0.00,0.00,224.14,231.75
49,1,1,1,A01,0.0,1.0,101.0,S1,1,E9,...,2,0,0,0,2,436.76,0.00,0.00,0.00,436.76
50,1,1,1,A01,0.0,1.0,101.0,S1,2,E10,...,2,0,0,0,2,435.34,0.00,0.00,0.00,435.34
51,1,1,1,A01,0.0,1.0,101.0,S1,2,E11,...,2,0,1,1,0,435.34,0.00,217.67,217.67,0.00
52,1,1,1,A01,0.0,1.0,101.0,S1,2,E5,...,1,0,0,0,1,217.67,0.00,0.00,0.00,217.67
53,1,1,1,A01,0.0,1.0,101.0,S1,2,E6,...,1,0,0,0,1,323.82,0.00,0.00,0.00,323.82
54,1,1,1,A01,0.0,1.0,101.0,S1,2,E7,...,2,0,1,0,1,437.60,0.00,217.67,0.00,219.93
55,1,1,1,A01,0.0,1.0,101.0,S1,2,E8,...,1,0,0,1,0,217.67,0.00,0.00,217.67,0.00
56,1,1,1,A01,0.0,1.0,101.0,S1,2,E9,...,1,0,0,0,1,217.67,0.00,0.00,0.00,217.67
57,1,1,1,A01,0.0,1.0,101.0,S2,1,E10,...,14,1,2,0,11,3092.00,233.00,435.34,0.00,2423.66

In [8]:
pd.read_csv?

In [34]:
v=B['sector_economico_4'].unique()
print(v)

[ 101.  201.  301.  401.  500. 1101. 1102. 1301. 1302. 1401. 2001. 2002.
 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2013. 2014. 2015. 2016. 2101.
 2102. 2103. 2301. 2302. 2303. 2401. 2402. 2403. 2501. 2502. 2505. 2601.
 2602. 2604. 2701. 2801. 2802. 2901. 3001. 3002. 3003. 3004. 3005. 3007.
 3008. 3010. 3014. 3102. 3201. 3202. 3301. 3302. 3303. 3305. 3306. 3308.
 3309. 3310. 3313. 3317. 3401. 3402. 3501. 3502. 3503. 3504. 3506. 3507.
 3510. 3511. 3601. 3602. 3603. 3606. 3607. 3701. 3702. 3703. 3706. 3709.
 3710. 3712. 3802. 3803. 3804. 3809. 3810. 3900. 3901. 3902. 3904. 3905.
 3907. 3909. 3910. 4101. 4102. 4201. 4202. 4203. 4204. 5000. 5100. 6101.
 6102. 6103. 6104. 6201. 6202. 6203. 6204. 6205. 6206. 6207. 6208. 6209.
 6210. 6211. 6212. 6301. 6302. 6303. 6304. 6305. 6306. 6401. 6501. 6502.
 6503. 6504. 6601. 6602. 6603. 6604. 6605. 6606. 6607. 6608. 6609. 6610.
 6611. 6614. 6615. 6616. 6617. 6701. 6702. 6703. 6704. 6706. 6707. 6708.
 6709. 6710. 6711. 6801. 6802. 6803. 6901. 6902. 6903. 6904. 7101. 7102.
 7103. 7300. 7400. 7501. 7502. 7503. 7505. 7600. 8100. 8200. 8300. 8401.
 8403. 8404. 8405. 8502. 8503. 8504. 8505. 8506. 8600. 8701. 8702. 8801.
 8802. 8804. 8901. 8902. 8903. 8904. 8905. 8906. 8907. 8908. 8909. 8911.
 8912. 8913. 8914. 9101. 9201. 9202. 9203. 9204. 9301. 9303. 9401. 9402.
 9403.   nan 1104. 2503. 2603. 3708. 6705. 8501. 3316. 2304. 2305. 2506.
 3009. 3016. 3509. 3704. 3707. 3805. 8803. 8805. 8806. 9900. 3013. 3103.
 3505. 3801. 3806. 3808. 3906. 8910.  402.  403.  404. 2011. 3705. 2504.
 3203. 3807. 1303. 2012. 3307. 3604. 3908. 7201. 7202. 7504. 2200. 3508.
 3605. 3711. 6612. 3315. 2307. 6613. 2003. 1201. 3101. 2306. 3312. 3012.
 1103.]

In [36]:
np.size(v)

277

In [48]:
B

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,ta_sal,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc
28,1,1,1,A01,0.0,1.0,101.0,NaN,1,E10,...,3,0,0,3,0,622.32,0.0,0.0,622.32,0.0
29,1,1,1,A01,0.0,1.0,101.0,NaN,1,E11,...,4,0,0,4,0,829.76,0.0,0.0,829.76,0.0
30,1,1,1,A01,0.0,1.0,101.0,NaN,1,E12,...,3,0,0,3,0,622.32,0.0,0.0,622.32,0.0
31,1,1,1,A01,0.0,1.0,101.0,NaN,1,E12,...,1,0,0,1,0,555.95,0.0,0.0,555.95,0.0
32,1,1,1,A01,0.0,1.0,101.0,NaN,1,E13,...,2,0,0,2,0,414.88,0.0,0.0,414.88,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561922,40,58,9,NaN,9.0,99.0,9900.0,S3,2,E8,...,1,0,0,1,0,1980.40,0.0,0.0,1980.40,0.0
4561923,40,58,9,NaN,9.0,99.0,9900.0,S3,2,E8,...,1,0,0,1,0,2230.94,0.0,0.0,2230.94,0.0
4561924,40,58,9,NaN,9.0,99.0,9900.0,S3,2,E8,...,1,0,0,1,0,2405.50,0.0,0.0,2405.50,0.0
4561925,40,58,9,NaN,9.0,99.0,9900.0,S3,2,E9,...,2,0,0,2,0,4811.00,0.0,0.0,4811.00,0.0
4561926,40,58,9,NaN,9.0,99.0,9900.0,S3,2,E9,...,1,0,0,1,0,1584.36,0.0,0.0,1584.36,0.0

In [43]:
x=B['sector_economico_4'].value_counts(normalize=False)

In [44]:
x

8401.0    167874
6103.0    153990
4102.0    146147
9101.0    125294
6401.0    124420
           ...
3905.0       206
2504.0       188
2603.0       167
500.0        162
1103.0        39
Name: sector_economico_4, Length: 276, dtype: int64

In [45]:
np.size(x)

276

In [46]:
B['asegurados'].sum()

29805688

In [47]:
B.isnull().values.any()

True

In [50]:
B.isnull().sum().sum()

654663

In [51]:
null_columns=B.columns[B.isnull().any()]
B[null_columns].isnull().sum()
print(B[B.isnull().any(axis=1)][null_columns].head())

   cve_municipio  sector_economico_1  sector_economico_2  sector_economico_4  \
28           A01                 0.0                 1.0               101.0
29           A01                 0.0                 1.0               101.0
30           A01                 0.0                 1.0               101.0
31           A01                 0.0                 1.0               101.0
32           A01                 0.0                 1.0               101.0

   tamaño_patron rango_salarial rango_uma
28           NaN             W1        W1
29           NaN             W1        W1
30           NaN             W1        W1
31           NaN             W3        W6
32           NaN             W1        W1

In [52]:
df_sin_nan = B.dropna(how='any')

In [53]:
df_sin_nan

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,ta_sal,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc
38,1,1,1,A01,0.0,1.0,101.0,S1,1,E10,...,1,0,1,0,0,217.67,0.0,217.67,0.00,0.00
39,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,217.67,0.0,0.00,0.00,217.67
40,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,342.21,0.0,0.00,0.00,342.21
41,1,1,1,A01,0.0,1.0,101.0,S1,1,E11,...,1,0,0,0,1,734.51,0.0,0.00,0.00,734.51
42,1,1,1,A01,0.0,1.0,101.0,S1,1,E4,...,2,0,0,0,2,435.34,0.0,0.00,0.00,435.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4062511,34,9,32,Y33,4.0,42.0,4201.0,S2,1,E9,...,1,0,0,1,0,217.67,0.0,0.00,217.67,0.00
4062512,34,9,32,Y33,4.0,42.0,4201.0,S2,2,E4,...,1,0,0,1,0,217.67,0.0,0.00,217.67,0.00
4062513,34,9,32,Y33,8.0,84.0,8401.0,S2,1,E7,...,1,0,0,1,0,217.67,0.0,0.00,217.67,0.00
4062514,34,9,32,Y33,8.0,84.0,8401.0,S2,1,E9,...,1,0,0,1,0,217.67,0.0,0.00,217.67,0.00
4062515,34,9,32,Y33,8.0,84.0,8401.0,S2,2,E6,...,1,0,0,1,0,217.67,0.0,0.00,217.67,0.00

In [54]:
df_sin_nan['asegurados'].sum()

17897447

In [23]:
R=pd.read_csv("http://datos.imss.gob.mx/sites/default/files/asg-2023-01-31.csv", sep="|", header='infer', encoding='latin-1')
print(R.head())

C:\Users\Beto\AppData\Local\Temp\ipykernel_5372\3785041052.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  R=pd.read_csv("http://datos.imss.gob.mx/sites/default/files/asg-2023-01-31.csv", sep="|", header='infer', encoding='latin-1')

   cve_delegacion  cve_subdelegacion  cve_entidad cve_municipio  \
0               1                  1            1           A01
1               1                  1            1           A01
2               1                  1            1           A01
3               1                  1            1           A01
4               1                  1            1           A01

   sector_economico_1  sector_economico_2  sector_economico_4 tamaño_patron  \
0                 NaN                 NaN                 NaN           NaN
1                 NaN                 NaN                 NaN           NaN
2                 NaN                 NaN                 NaN           NaN
3                 NaN                 NaN                 NaN           NaN
4                 NaN                 NaN                 NaN           NaN

   sexo rango_edad  ... ta_sal teu_sal  tec_sal  tpu_sal  tpc_sal  \
0     1         E1  ...      0       0        0        0        0
1     1        E10  ...      0       0        0        0        0
2     1        E11  ...      0       0        0        0        0
3     1        E12  ...      0       0        0        0        0
4     1        E13  ...      0       0        0        0        0

   masa_sal_ta  masa_sal_teu  masa_sal_tec  masa_sal_tpu  masa_sal_tpc
0          0.0           0.0           0.0           0.0           0.0
1          0.0           0.0           0.0           0.0           0.0
2          0.0           0.0           0.0           0.0           0.0
3          0.0           0.0           0.0           0.0           0.0
4          0.0           0.0           0.0           0.0           0.0

[5 rows x 29 columns]

In [24]:
R.head(30)

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,ta_sal,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc
0,1,1,1,A01,NaN,NaN,NaN,NaN,1,E1,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
1,1,1,1,A01,NaN,NaN,NaN,NaN,1,E10,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
2,1,1,1,A01,NaN,NaN,NaN,NaN,1,E11,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
3,1,1,1,A01,NaN,NaN,NaN,NaN,1,E12,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
4,1,1,1,A01,NaN,NaN,NaN,NaN,1,E13,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
5,1,1,1,A01,NaN,NaN,NaN,NaN,1,E14,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
6,1,1,1,A01,NaN,NaN,NaN,NaN,1,E2,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
7,1,1,1,A01,NaN,NaN,NaN,NaN,1,E3,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
8,1,1,1,A01,NaN,NaN,NaN,NaN,1,E4,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
9,1,1,1,A01,NaN,NaN,NaN,NaN,1,E5,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
10,1,1,1,A01,NaN,NaN,NaN,NaN,1,E6,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
11,1,1,1,A01,NaN,NaN,NaN,NaN,1,E7,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
12,1,1,1,A01,NaN,NaN,NaN,NaN,1,E8,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
13,1,1,1,A01,NaN,NaN,NaN,NaN,1,E9,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
14,1,1,1,A01,NaN,NaN,NaN,NaN,2,E1,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
15,1,1,1,A01,NaN,NaN,NaN,NaN,2,E10,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
16,1,1,1,A01,NaN,NaN,NaN,NaN,2,E11,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
17,1,1,1,A01,NaN,NaN,NaN,NaN,2,E12,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
18,1,1,1,A01,NaN,NaN,NaN,NaN,2,E13,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
19,1,1,1,A01,NaN,NaN,NaN,NaN,2,E14,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
20,1,1,1,A01,NaN,NaN,NaN,NaN,2,E2,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
21,1,1,1,A01,NaN,NaN,NaN,NaN,2,E3,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
22,1,1,1,A01,NaN,NaN,NaN,NaN,2,E4,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
23,1,1,1,A01,NaN,NaN,NaN,NaN,2,E5,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
24,1,1,1,A01,NaN,NaN,NaN,NaN,2,E6,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
25,1,1,1,A01,NaN,NaN,NaN,NaN,2,E7,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
26,1,1,1,A01,NaN,NaN,NaN,NaN,2,E8,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
27,1,1,1,A01,NaN,NaN,NaN,NaN,2,E9,...,0,0,0,0,0,0.00,0.0,0.0,0.00,0.0
28,1,1,1,A01,0.0,1.0,101.0,NaN,1,E10,...,3,0,0,3,0,622.32,0.0,0.0,622.32,0.0
29,1,1,1,A01,0.0,1.0,101.0,NaN,1,E11,...,4,0,0,4,0,829.76,0.0,0.0,829.76,0.0

In [ ]:
http://datos.imss.gob.mx/sites/default/files/asg-2023-01-31.csv